#Created by AnsNet for {{item.hostname}} on {{ansible_date_time.iso8601}}
{% if item.vendor == "cisco_ios_telnet" %}
# Configuration Type: Cisco IOS (Telnet)
{% elif item.vendor == "ios" %}
# Configuration Type: Cisco IOS (SSH)
{% elif item.vendor == "junos" %}
# Configuration Type: Juniper
{% elif item.vendor == "eos" %}
# Configuration Type: Arista
{% elif item.vendor == "a10" %}
# Configuration Type: A10
{% else %}
# Configuration Type: {{item.vendor}}
{% endif %}
{% if item.vendor == "cisco_ios_telnet" %}
!
hostname {{item.hostname}}
!
{%for configuration in config_lines %}
{{configuration}}
!
{% endfor %}
!
end
{% elif item.vendor == "ios" %}
!
hostname {{item.hostname}}
!
{%for configuration in config_lines %}
{{configuration}}
!
{% endfor %}
!
end
{% elif item.vendor == "junos" %}
cli
configure
set host-name {{item.hostname}}
{%for configuration in config_lines %}
{{configuration}}
{% endfor %}
{% elif item.vendor == "eos" %}
!
hostname {{item.hostname}}
!
{%for configuration in config_lines %}
{{configuration}}
!
{% endfor %}
!
end
{% elif item.vendor == "a10" %}

hostname {{item.hostname}}
!
{%for configuration in config_lines %}
{{configuration}}
!
{% endfor %}
!
{% else %}
# Configuration Type: {{item.vendor}}
# {{item.hostname}}
#
{%for configuration in config_lines %}
{{configuration}}
!
{% endfor %}
#
{% endif %}
